h2{
font-size:25px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
  margin:0;
  padding:0;
}
header,footer{
  position: absolute;
  background-color:#c0ffee;
  width:100%;
  color:#ba1307;
}
header{
  height:7vh;
  margin-top:-5px;
}
header h1{
  position: absolute;
  margin-top:30px;
  top:-15px;
  left:1%;
}
footer{
  height:10vh;
  bottom:0;
}
footer h1{
  position: absolute;
  left:40%;
}
.nav{
  position: absolute;
  width:100%;
  top:15px;
  left:700px;
}
.nav a{
  font-size:35px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin:35px;
  color:black;
  text-decoration: none;
}
